.letters {
  width: 800px;
  height: 600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;

}
.letters div {
  background-color: #333;
}
.first-step {
  grid-area: 1 / 1 / 2 / 4;
}
.second-step {
  grid-area: 2 / 1 / 3 / 2;
}
.third-step {
  grid-area: 3 / 1 / 4 / 4;
}
.fourth-step {
  grid-area: 4 / 1 / 5 / 2;
}
.fifth-step {
  grid-area: 5 / 1 / 6 / 4;
}
.column {
  grid-area: 1 / 5 / 6 / 6;
}
.row {
  grid-area: 5 / 5 / 6 / 8;
}
.letters::before {
  content: "";
  position: absolute;
  background-color: #fea604;
  top: 23px;
  left: 240px;
  width: 50px;
  height: 50px;
  animation: letter-e 5s;
}
.letters::after {
  content: "";
  position: absolute;
  background-color: #fea604;
  top: 425px;
  left: 640px;
  width: 50px;
  height: 50px;
  animation: letter-l linear 2s;
  animation-delay: 5s;
  opacity: 0;
}
@keyframes letter-l {
  0% {
    top: 425px;
    left: 640px;
    opacity: 0;
  }
  20% {
    top: 425px;
    opacity: 1;
    left: 425px;
  }
  40% {
    top: 23px;
    left: 425px;
    opacity: 1;
}
90% {
    top: 23px;
    left:  425px;
    opacity: 0;
}
100% {
    opacity: 0;
    top: 23px;
    left: 425px;

  }
}
@keyframes letter-e {
  0% {
    left: 240px;
  }
  20% {
    left: 20px;
    top: 23px;
  }
  30% {
    top: 220px;
    left: 20px;
  }
  40% {
    top: 220px;
    left: 240px;
  }
  50% {
    top: 220px;
    left: 20px;
  }
  60% {
    top: 425px;
    left: 20px;
  }
  70% {
    top: 425px;
    left: 240px;
  }
  80% {
    top: 425px;
    left: 20px;
  }
  90% {
    top: 23px;
    left: 20px;
  }
  100% {
    top: 23px;
    left: 240px;
  }
}
